<p>This is the movie-view view.</p>
<table class="table movietable">
    <tr>

        {"url":
        "http://localhost:8000/api/posts/1",
        "photos":
        "http://localhost:8000/api/posts/1/photos",
        "author":"http://localhost:8000/api/users/karim",
        "id":1,"created":"2015-12-01T14:32:30.048567Z",
        "modified":"2015-12-01T14:32:30.048870Z","title":"Title #1","body":"This is a great post"}
        {{ Post }}
        <td><h3>Details for {{Post.title}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Post Title</td>
        <td>{{movie.title}}</td>
    </tr>
    <tr>
        <td>body</td>
        <td>{{Post.body}}</td>
    </tr>
    <tr>
        <td>Release Year</td>
        <td>{{Post.modified}}</td>
    </tr>
    <tr>
        <td>Post Autor</td>
        <td>{{Post.author}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editPost({id:Post.id})">Edit</a>
</div>
